:root {
	--privacy-height: 90px;
	--breathing-room: 10px;
	--scroll-padding: calc(var(--privacy-height) + var(--breathing-room));   
}

html.privacy {
	scroll-padding-bottom: var(--scroll-padding);
}
html.privacy body {
	height: 100%;
	padding-bottom: calc(var(--privacy-height) - 1px);
}
html.privacy.vscroll body {
	height: auto;
}

#s-ui-cc-navbar {
	background: var(--pcom-blue);
	border: 0;
	box-shadow: 0px -6px 6px 2px rgba(0,0,0,0.75);
}

#s-ui-cc-main {
	width: 100%;
}

#s-ui-cc-msg {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: stretch;
	align-items: center;
	font-size: .875rem;
	margin: 1em;
}
#s-ui-cc-msg > div:first-of-type {
	color: var(--pcom-white);
	flex-grow: 1;
	text-align: center;
}
#s-ui-cc-msg > div:first-of-type p {
	margin-bottom: .375rem;
}

#s-ui-cc-read-more-link { 
	text-decoration: none;
	background: var(--pcom-yellow);
	margin: 0 auto;
	display: block;
	width: fit-content;
	border: solid 2px var(--pcom-text);
	border-radius: var(--pcom-border-radius);
	padding: 0.5em 0.75em;
	color: var(--pcom-text);
	font-weight: 700;
	line-height: 1;
}
#s-ui-cc-read-more-link:hover {
	background: var(--pcom-dark-blue);
	color: var(--pcom-yellow);
	border-color: currentColor;
}

#s-ui-cc-read-more-link:focus {
	outline: solid 2px currentColor;
	outline-offset: -6px !important;
}

#s-ui-cc-close-btn {
	background:  transparent;
	display: block;
	width: fit-content;
	border: 0;
	border: solid 2px transparent;
	border-radius: var(--pcom-border-radius);
	padding: 0;
	height: 2.5rem;
	width: 2.5rem;
	color: var(--pcom-white);
	line-height: 1;
}

#s-ui-cc-close-btn:hover {
	color: var(--pcom-yellow);
}

#s-ui-cc-close-btn:focus {
	outline: none;
	border-color: currentColor;
}

#s-ui-cc-close-btn span.fa {
	font-size: 1.5rem;
}

