#s-ui-cc-navbar {
	background: var(--pcom-blue);
	border: 0;
	box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.5);
}

#s-ui-cc-msg {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: stretch;
	align-items: center;
	font-size: .875rem;
	margin: 1em 0;
	line-height: 1;
}
#s-ui-cc-msg > div {
	color: var(--pcom-white);
}

#s-ui-cc-read-more-link {
	color: var(--pcom-cyan);
}

#s-ui-cc-close-btn {
	background: var(--pcom-yellow);
	display: block;
	width: fit-content;
	border: solid 3px var(--pcom-text);
	border-radius: var(--pcom-border-radius);
	padding: 0.5em 0.75em;
	color: var(--pcom-text);
	font-weight: 600;
}

#s-ui-cc-close-btn:hover {
	background: var(--pcom-text);
	color: var(--pcom-yellow);
	border-color: var(--pcom-yellow);
}

#s-ui-cc-close-btn:focus {
	outline: solid 2px currentColor;
  	outline-offset: -6px !important;
}

#s-ui-cc-close-btn span.fa {
	font-size: 1rem;
}

#s-ui-cc-close-btn span.fa + span {
	margin-left: 0.5ch;
}

@media (max-width: 720px) {
	#s-ui-cc-close-btn span.fa + span { 
		display: none;
	}
}

